/* Reset básico para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #013a1d;
    background-color: #f4f4f4;
  }
  
  header.cabeçalho {
    background: #4CAF50; /* Cor de fundo */
    color: white;
    padding: 30px;
    text-align: center;
    position: relative;
  }
  
  .cabeçalho-título {
    margin-bottom: 100px;
    font-size: 1.8em;
  }
  
  .cabeçalho-logotipo {
    width: 50px;
    height: auto;
    vertical-align: middle;
  }
  
  .cabeçalho-lista {
    list-style: none;
    padding: 0;
  }
  
  .cabeçalho-lista-item1, .cabeçalho-lista-item2, .cabeçalho-lista-item3 {
    display: inline;
    margin: 0 15px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
  }
  
  .cabeçalho-lista-item1:hover, .cabeçalho-lista-item2:hover, .cabeçalho-lista-item3:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 10px;
    margin: 10px;
    background: rgb(98, 136, 100);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .participe-do-projeto-img, .tecnicas-para-agricultores-pequenos-img, .mercado-agricola-img {
    width: 20%;
    height: auto;
    border-radius: 8px;
  }
  
  .participe-do-projeto, .tecnicas-para-agricultores-pequenos, .mercado agrícola {
    margin-bottom: 10px;
  }
  
  .participe-do-projeto-título, .tecnicas-para-agricultores-pequenos-título, .mercado agrícola-titulo {
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  
  .participe-do-projeto-texto1, .tecnicas-para-agricultores-pequenos-texto1, .mercado agrícola-texto1 {
    font-size: 1em;
    line-height: 1.5;
  }
  
  footer.rodapé {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  
  .rodapé-imagem {
    width: 10px;
    height: auto;
    vertical-align: middle;
  }
  
  .rodapé-título {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .rodapé-ícone {
    width: 30px;
    height: auto;
  }
  
  .rodapé a {
    color: white;
    text-decoration: none;
  }
  
  .rodapé a:hover {
    text-decoration: underline;
  }
  