body{
    background-color: darkolivegreen;
    color: white;
}

.cabeçalho-logotipo,
.participe-do-projeto-img,
.tecnicas-para-agricultores-pequenos-img,
.mercado-agricola-img
{
    padding: 24px;
    margin-top: 5px;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 50%;
}